body {
  background-color: teal;
}

/* General draft */
a {
  color: chocolate;
  font-size: xx-large;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: black;
  background-color: burlywood;
}

.box {
  border: medium 5px red;
}
